$colores:(
    negro-c: rgb(0, 0, 0),
    rojo-claro: rgb(180, 0, 0),
    dark-rojo: darkred,
    bg-c-rojo: rgb(125, 0, 0),
    bordo-c: #260000,
    blanco-c: rgb(255, 253, 253),
    gris-c: grey,
    verde-c: green,
    gris-oscuro: rgb(34, 33, 33),
    azul-c:  rgb(8, 8, 45),
);



